<div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 nav-side-bar">
            <div class="dashBoard" ng-click="backToDashBoard()">Sales Dashboard</div>
            <div class="servicing">Servicing</div>
            <div class="claims">Claims</div>
            <div class="products">Products</div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card quote">
                                <div class="card-block plg">
                                	<div class="row">
                                    <div class="gray"> &lt; <a ng-click="backToDashBoard()">Back to Dashboard</a> <img src="images/info.png" class="info"/></div>
                                    <div class="text-center"> <h4 class="bluebold">Create a Quote</h4></div> 
								                  </div>
                                  <div class='text-center img-top'>
                                    <img src="images/Business.png">
                                  </div>  
                                   <!--  <ol class="breadcrumb">
                                        <li class="active"><a href="javascript:void(0)">Business</a></li>
                                        <li><a href="javascript:void(0)">Locations</a></li>
                                        <li><a href="javascript:void(0)">Employees</a></li>                                    
                                        <li><a href="javascript:void(0)">Quote</a></li>
                                        
                                      </ol> -->
                                	<div class="fw text-center">                                    
                                    	<h4><strong>Select Type of Business</strong></h4>
                                    </div>
                                    <p class="text-center">Type of business defines insurance needs and criticality.<br/> We have wonderful plans for all types of businesses.</p>
                                    
                                    <form>                                      
                                      <div class="form-group no-margin">                                      	                                       
                                       <!-- <input class="form-control bisInp input-lg fw no-margin" id="inputlg" ng-value="btype" type="text"/>   -->                        
                                        <div class="bisInp" style="min-height:40px">
                                            <span class="tags" ng-show="btype">{{btype}}<span ng-click="removeBusiness()"><img src="images/Cross.png"/></span></span>
                                        </div>        
                                      </div>                                      
                                    </form>
                                    <small class='block-pad'>Note: Enter text above or select from the options provided below.</small>
                                    
                                    <div class="mtxlg">
                                    <div class="row mtlg">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <span ng-click=" bindval('Accounting')">
                                                	<img src="images/Accounting_Grey.png" alt="accounting" ng-if="btype != 'Accounting'" class='pointer'>
                                                  <img src="images/Accounting_Orange.png" alt="accounting" ng-if="btype == 'Accounting'" class='pointer'>
                                                </span>                                                
                                            </div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <span ng-click="bindval('Automobile')">
                                                	<img src="images/Automobile_Grey.png" alt="automobile" ng-if="btype != 'Automobile'" class='pointer'>
                                                  <img src="images/Automobile_Orange.png" alt="automobile" ng-if="btype == 'Automobile'" class='pointer'>
                                                </span>                                             
                                            </div> 
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <span ng-click="bindval('Software')">
                                                	<img src="images/Software_Grey.png" alt="software" ng-if="btype != 'Software'" class='pointer'>
                                                  <img src="images/Software_Orange.png" alt="software" ng-if="btype == 'Software'" class='pointer'>
                                                </span>                                                
                                            </div>
                                             <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <span ng-click="bindval('Electronic')">
                                                  <img src="images/Electronics_Grey.png" alt="electronic" ng-if="btype != 'Electronic'" class='pointer'>
                                                  <img src="images/Electronics_Orange.png" alt="electronic" ng-if="btype == 'Electronic'" class='pointer'>
                                                </span>                                               
                                            </div>
                                    </div>
                                    
                                    <div class="row mtlg">
                                           
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <span ng-click="bindval('School')">
                                                	<img src="images/School_Grey.png" alt="school" ng-if="btype != 'School'" class='pointer'>
                                                  <img src="images/School_Orange.png" alt="school" ng-if="btype == 'School'" class='pointer'>
                                                </span>                                     
                                            </div> 
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <span ng-click="bindval('Courier')">
                                                	<img src="images/Courier_Grey.png" alt="courier" ng-if="btype != 'Courier'" class='pointer'>
                                                  <img src="images/Courier_Orange.png" alt="courier" ng-if="btype == 'Courier'" class='pointer'>
                                                </span>                                         
                                            </div>
                                             <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <span ng-click="bindval('Grocery')">
                                                  <img src="images/Grocery_Grey.png" alt="grocery" ng-if="btype != 'Grocery'" class='pointer'>
                                                  <img src="images/Grocery_Orange.png" alt="grocery" ng-if="btype == 'Grocery'" class='pointer'>
                                                </span>
                                            </div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <span ng-click="bindval('Design')">
                                                	<img src="images/Design_Grey.png" alt="design" ng-if="btype != 'Design'" class='pointer'>
                                                  <img src="images/Design_Orange.png" alt="design" ng-if="btype == 'Design'" class='pointer'>
                                                </span>                                            
                                            </div>
                                    </div>
                                    </div>
                                    
                                    <div class="fw btnbar">
                                        <button type="button" class="btn green-btn pull-right" ng-click="goLocation()">Save &amp; Continue</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-block">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img src="images/Slide-9-right-rail.png" class="right-sec"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
