<div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 nav-side-bar">
            <div class="dashBoard" ng-click="backToDashBoard()">Sales Dashboard</div>
            <div class="servicing">Servicing</div>
            <div class="claims">Claims</div>
            <div class="products">Products</div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card quote">
                                <div class="card-block plg">
                                	<div class="row">
                                        <div class="gray"> &lt; <a ng-click="backToDashBoard()">Back to Dashboard</a><img src="images/info.png" class="info"/></div>
                                        <div class="text-center"> <h4 class="bluebold">Create a Quote</h4></div> 
								                  </div>
                                  <div class='text-center img-top'>
                                    <img src="images/Locations.png">
                                  </div> 
                                    
                                   <!--  <ol class="breadcrumb">
                                        <li class="active"><a href="javascript:void(0)">Business</a></li>
                                        <li class="active"><a href="javascript:void(0)">Locations</a></li>
                                        <li><a href="javascript:void(0)">Employees</a></li>                                    
                                        <li><a href="javascript:void(0)">Quote</a></li>
                                        
                                      </ol> -->
                                    
                                      <div class='text-center'><h4><strong>Your have selected:</strong></h4></div>
                                      <ul class="list-inline text-center">
                                      	<li><span class="tags">{{btype}}<span><img src="images/Cross.png"/></span></span></li>
                                      </ul>
                                      <div class="clear"></div>
                                    <div class='white-back'>
                                      <h4 class='text-center'><strong>Perfect! Please tell us about your locations.</strong></h4>
                                      <p class='text-center'>Locations define socio-geographical conditions of your employees.</p>
                                      <!--<input type="text" class="form-control fw" ng-class="{hidden:isTagList}"/>-->
                                      <div class="taglist" id="taglist">
                                      	<span ng-repeat="loc in loc_arr track by $index" class="tags">{{loc}}<span ng-click="removeLoc($index, loc)"><img src="images/Cross.png"/></span></span>
                                      </div>
                                      <small class='block-pad'>Note: Enter text above or select from the options provided below.</small>
                                    </div>
                                    
                                    
                                    <div class="row mtlg">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <span class="locno" ng-click="selLocation('30005')" ng-class="{blueCost:loc_30005}">30005</span>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <span class="locno" ng-click="selLocation('30006')" ng-class="{blueCost:loc_30006}">30006</span>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <span class="locno" ng-click="selLocation('30007')" ng-class="{blueCost:loc_30007}">30007</span>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <span class="locno" ng-click="selLocation('30008')" ng-class="{blueCost:loc_30008}">30008</span>
                                        </div>
                                    </div>
                                    <div class="row mtxxlg">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <span class="locno" ng-click="selLocation('30010')" ng-class="{blueCost:loc_30010}">30010</span>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <span class="locno" ng-click="selLocation('30020')" ng-class="{blueCost:loc_30020}">30020</span>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <span class="locno" ng-click="selLocation('30027')" ng-class="{blueCost:loc_30027}">30027</span>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <span class="locno" ng-click="selLocation('30030')" ng-class="{blueCost:loc_30030}">30030</span>
                                        </div>
                                    </div>
                                    <div class="fw mtxxlg btnbar">
                                        <button type="button" class="btn" ng-click="goBusiness()">Back</button>
                                        <button type="button" class="btn green-btn pull-right" ng-click="goEmployees()">Save &amp; Continue</button>
                                    </div> 
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-block">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img src="images/Slide-10-right-rail.png" class="right-sec"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
