<div class="header" ng-click="logout()">
    <img src="images/new-header.png" />
</div>
<div class="container-fluid ">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 side-bar">
            <div class="dashBoard" ng-click="homepage()">Sales Dashboard</div>
            <div class="servicing">Servicing</div>
            <div class="claims">Claims</div>
            <div class="products">Products</div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 lead-page">
        <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pl">
                <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl">
                   <img src="images/Customer-prof.png"/>
                    
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl">
                 <img src="images/What-Similar.png"/> 
                    
        </div>
        </div>  
                    
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 pr">
                   
                          
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pr">
                                    <img class="lead-det" src="images/Lead Details.png">
                                </div>
                                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pr">
                                    	<div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pl">
                                 <img src="images/Recommended.png"/>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pr">
                                <img src="images/Relationship.png"/>
                                </div>
                                </div>
                                </div>
                            </div>
                      
                </div>
        </div>
<!--            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  
                    <img src="images/Customer-prof.png"/>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                   
                          
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <img class="lead-det" src="images/Lead Details.png">
                                </div>
                            </div>
                      
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                   
                    <img src="images/What-Similar.png"/>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                   
                    <img src="images/Recommended.png"/>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                 
                    <img src="images/Relationship.png"/>
                </div>
            </div>
-->        </div>
    </div>
</div>
